* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #333;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  cursor: pointer;
  width: 340px;
  height: 480px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 600ms linear;
}

.card img {
  width: 100%;
  height: 100%;
  filter: grayscale(80%);
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}

.back-content {
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

.sm {
  margin: 20px 0;
}

.sm a {
  display: inline-flex;
  text-decoration: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  transition: all 600ms ease;
  border-radius: 50%;
}

.sm a:hover {
  background: #2c3e50;
  color: #f1f1f1;
}

.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}
